.postCardContainer{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.postCard{
    width: 80%;
    margin-top: 20px;
    margin-bottom:20px;
}
.postCard p{
    width: 100%;
    height: max-content;
    margin-bottom: 50px;
    font-size: 1.3rem;
    font-weight: 700;
}
.postCTA{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postClickAbles{
    display: flex;
    align-items: center;
    gap: 20px;
}
.postClickAbles div{
    display: flex;
    align-items: center;
}
.saveButton{
    display: flex;
    align-items: center;
}